@page "/pagos/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Pago</h3>

<PagosForm Pago="pago" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Pago pago = new();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/pagos", pago);

        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
            Return();
        {
            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Pago creada con exito");
        }

    }


    private void Return()
    {
        navigationManager.NavigateTo("/");


    }
}
