@page "/renovaciones/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Renovacion</h3>

<RenovacionesForm Renovacion="renovacion" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Renovacion renovacion = new();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/renovaciones", renovacion);

        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
            Return();
        {
            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Renovacion creada con exito");
        }

    }


    private void Return()
    {
        navigationManager.NavigateTo("/renovaciones");


    }
}

