@page "/tipovisa/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Crear TipoVisa</h3>

<TipoVisasForm TipoVisa="tipovisa" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private TipoVisa tipovisa = new();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/tipovisas", tipovisa);

        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
            Return();
        {
            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "TipoVisa creada con exito");
        }

    }


    private void Return()
    {
        navigationManager.NavigateTo("/tipovisas");


    }
}
