<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TramitesVisas.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personas">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Persona
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipovisas">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Tipo de Visa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="solicitudes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Solicitud
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="renovaciones">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Renovaciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentos">
                <span aria-hidden="true"></span> <i class="bi bi-calendar-plus"style="font-size: 1rem" alt="centered image"></i>Documentos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pagos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Pagos
            </NavLink>
        </div>

        <div class="nav-item px-3" @onclick="ToggleSubMenu">
            <NavLink class="nav-link">
                <span class="oi bi-arrow-left-right" aria-hidden="true" title="Home"></span>


                <label><i class="bi bi-calendar-plus"></i> SOLICITUD</label>
                    <span class="oi bi-arrow-left-right @(showSubMenu ? "bi-caret-up-fill" : "bi-caret-down-fill")
                        ps-3" style="font-size: 1rem;" aria-hidden="true"></span>
                

            </NavLink>
            <div class="sub-menu" style="display: @(showSubMenu ? "block" : "none")">
                <NavLink class="nav-link" href="renovaciones">
                    <span class="oi bi-bricks" aria-hidden="true"></span>
                
                    
                        <label>RENOVACION</label>
                   
                </NavLink>
                <NavLink class="nav-link" href="EquipmentAssignments">
                    <span class="oi bi-gear" aria-hidden="true"></span>
                  
                        <label>VISA</label>
                   
                </NavLink>

            </div>
        </div>


    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private bool showSubMenu = false;

    private void ToggleSubMenu()
    {
        showSubMenu = !showSubMenu;
    }

    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text
    private bool IconMenuActive { get; set; } = false;

    //EventCallback for sending bool to MainLayout
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

   
    //Method to toggle IconMenuActive bool and send bool via EventCallback
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }
}

}
