<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TramitesVisas.WEB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span style="font-size: 22px;"> <i class="bi bi-house" aria-hidden="true"></i> </span> Inicio
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="personas">
                        <span style="font-size: 22px;"><i class="bi bi-people-fill" aria-hidden="true"></i> </span>Clientes
                    </NavLink>
                    
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tipovisas">
                        <span style="font-size: 22px;"><i class="bi bi-file-earmark-bar-graph-fill" aria-hidden="true"></i> </span> Tipos de Visa
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="renovaciones">
                        <span style="font-size: 22px;"><i class="bi bi-file-earmark-bar-graph" aria-hidden="true"></i></span>Renovaciones
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="solicitudes">
                        <span style ="font-size: 22px;"> <i class="bi bi-calendar-plus" aria-hidden="true"></i> </span>Solicitudes
                    </NavLink>
                    
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="documentos">
                        <span style="font-size: 22px;"><i class="bi bi-file-earmark-diff" aria-hidden="true"></i></span>Documentos

                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="pagos">
                        <span style="font-size: 22px;"><i class="bi bi-currency-dollar" aria-hidden="true"></i></span>Pagos


                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>


        <AuthorizeView Roles="User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tipovisas">
                        <span style="font-size: 22px;"><i class="bi bi-file-earmark-bar-graph-fill" aria-hidden="true"></i> </span> Tipos de Visa
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="renovaciones">
                        <span style="font-size: 22px;"><i class="bi bi-file-earmark-bar-graph" aria-hidden="true"></i></span>Renovaciones
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <a class="nav-link" href="solicitudesUser/@context.User.Claims.FirstOrDefault(x=> x.Type.Equals("Document"))!.Value">
                        <span style="font-size: 22px;"> <i class="bi bi-calendar-plus" aria-hidden="true"></i> </span>Solicitudes
                    </a>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="documentos">
                        <span style="font-size: 22px;"><i class="bi bi-file-earmark-diff" aria-hidden="true"></i></span>Documentos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="pagos">
                        <span style="font-size: 22px;"><i class="bi bi-currency-dollar" aria-hidden="true"></i></span>Pagos
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private bool showSubMenu = false;

    private void ToggleSubMenu()
    {
        showSubMenu = !showSubMenu;
    }

    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text
    private bool IconMenuActive { get; set; } = false;

    //EventCallback for sending bool to MainLayout
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

   
    //Method to toggle IconMenuActive bool and send bool via EventCallback
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }
}

}
